{% extends "layout.njk" %}


{% block head %}
    <title>Rocketseat - Sobre</title>
    <link rel="stylesheet" href="/about.css">
{% endblock %}

{% block section %}
    <div id="main">
        <img src="/assets/{{about.avatar}}" alt="Imagem de {{about.title}}">
        <h1>{{about.title}}</h1>
        <h2>{{about.headline}}</h2>
        <p>{{about.description}}</p>
    </div>
    <div id="tech">
        <ul>
            {% for tech in about.technologies %}
            <li><img src="/assets/{{tech.img}}" alt="{{tech.name}}"><p>{{tech.name}}</p></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}   
 