{% extends "layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/courses.css">
    
{% endblock %}

{% block section %}
    <section id="cards">

        {% for item in items %}    
            <div class="card" id="{{item.id}}">
                <div class="card_img">
                    <img src="/assets/{{item.img}}" alt="">
                </div>
                <div class="card_content">
                    <p><span class="{{item.classHeadline}}">{{item.headline}}</span> {{item.description}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.modules}}</p>
                    <p class="{{item.classPrice}}">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="iframe">
        <div class="iframe-modal">
            <a class="max-iframe">
                <i class="far fa-square"></i>
            </a>
            <a class="close-iframe">
                <i class="fas fa-times"></i>
            </a>
            <div class="iframe-content">
            <iframe src="" frameborder="0"></iframe>
            </div>

        </div>
    </div>
    <script src="/modal.js"></script>
{% endblock %}