{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Cursos</title>
    <link rel="stylesheet" href="/courses.css">
    
{% endblock %}

{% block section %}
    <section id="cards">

        {% for item in items %}    
            <div class="card" id="{{item.id}}">
                <div class="card_img">
                    <img src="/assets/{{item.img}}" alt="">
                </div>
                <div class="card_content">
                    <p><span class="{{item.classHeadline}}">{{item.headline}}</span> {{item.description}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.modules}}</p>
                    <p class="{{item.classPrice}}">{{item.price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>
    <script src="/modal.js"></script>
{% endblock %}